html {
    font-family: "Poppins", sans-serif;
}

#canvas {
    gap: 1px;
}

#canvas:has(> :nth-child(101)) {
    gap: 0;
}

/* Remove number input spinner */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Form */
.customHover {
    transition: transform 0.3s ease;
}

.customHover:hover {
    transform: scale(1.1);
    cursor: pointer;
}
